<li id="collection-<%= collection.id %>">
  <%= link_to gravatar_for(collection.user, size: 50), collection.user %>
  <span class="name"><%= link_to collection.name, collection %></span>
  <span class="timestamp">
    Created <%= time_ago_in_words(collection.created_at) %> ago.
    <% if current_user?(collection.user) %>
      <%= link_to "delete", collection, method: :delete,
                                       data: { confirm: "You sure?" } %>
    <% end %>
  </span>
</li>