<% provide(:title, @collection.name) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <p><%= @collection.name %></p>
    </section>
    <section class="collection_form">
      <%= render 'shared/card_search_form' %>
    </section>
    <section class="collection_form">
      <%= render 'shared/card_search_results' %>
    </section>
  </aside>
  <div class="col-md-8">
    <% if @collection.cards.any? %>
      <h3>Cards (<%= @collection.cards.count %>)</h3>
      <ol class="cards">
        <%= render @cards %>
      </ol>
    <% end %>
  </div>
</div>